@page {
    size: letter;
    margin: 2cm;

    @top-left {
        content: element(pageHeader);
    }

    @bottom-left {
        content: element(pageFooter);
    }

    @bottom-right{
        content: counter(page);
        font-family: Noto;
        font-family: HL;
    }
}

@page cover1 {
    margin: 2cm;
}

@page cover2 {
    margin: 0;
}

@font-face {
    font-family: Noto;
    src: url(NotoSans-Regular.ttf);
}

@font-face {
    font-family: HL;
    src: url(HelveticaNeue-Light.otf);
}


.header-text {
    position: running(pageHeader);
    font-weight: bold;
    font-size: 0.8em;
}

.footer-text {
    position: running(pageFooter);
    font-weight: bold;
    font-size: 0.8em;
}

body {
    font-family: Noto;
    font-family: HL;
    font-size: 10pt;
    line-height: 1.2em;
}

.page {
    page-break-after: always;
}

#cover1 {
    page: cover1;
}

#cover2 {
    page: cover2;
}

#cover1 img.banner,
#cover2 img.banner  {   
        width: 100%;
}

div.headline {
    position: absolute;
    top: 14cm;
    left: 0;
    right: 0;
}
div.headline-image {
    width: 49%;
    float: left;
}

img.headline-image {
    height: 6cm;
}

.headline-text {
    vertical-align: top;
    float: right;
    width: 49%;
    text-align: left;
}

.headline-text p {
    text-align: left;
}

#content {
     page-break-before: always;
     page: content;
}

@page content {
    margin: 2cm;
}

p {
    hyphens: auto;
    text-align: justify;
}

.table-100,
.table-25-50-25,
.table-25-75,
.table-75-25 {
    width: 100%;
}

.table-100 .col1 {
    width: 100%;
    padding-right: 2em;
}
.table-75-25 .col1 {
    width: 75%;
    padding-right: 2em;
}
.table-75-25 .col2 {
    width: 25%;
}

.table-25-75 .col1 {
    width: 25%;
    padding-right: 2em;
}
.table-25-75 .col2 {
    width: 75%;
}
.table-25-50-25 .col1 {
    width: 25%;
    padding-right: 2em;
}
.table-25-50-25 .col2 {
    width: 50%;
}
.table-25-50-25 .col3 {
    width: 25%;
}
td {
    vertical-align: top;
}

table.master  {
    page-break-after: always;
}

.section {
    margin-bottom: 1em;
    page-break-inside: inherit;
}

td img {
    max-width: 99%;
    display: block;
    margin-bottom: 1em;
}

